body {
    background-color: #121212;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.language-selector {
    position: fixed;
    top: 20px;
    left: 20px;
    /* Other styles for your buttons */
}

.timeline-container {
    padding: 50px 0;
    position: relative;
    /* This will be the main container for your timeline */
}

.timeline-line {
    width: 2px;
    background-color: #f0f0f0; /* White line */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-node {
    /* Styles for the color-coded nodes */
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* Use JavaScript to set the background color */
}

.university-project {
    background-color: #4CAF50; /* Green for university projects */
}

.personal-project {
    background-color: #2196F3; /* Blue for personal projects */
}
